/** Universal Changes **/

div {
	border: 1px solid white; 
}


html {
	font-family: Helvetica; 
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9; 
}

body {
	display: flex; 
	flex-flow: column wrap;
	align-items: center; 	
}
 
/** Navigation **/ 

.nav { 
	width: 100%;
	height: 69px;
	display: flex;
	flex-flow: row nowrap;  
	align-items: center; 
	position: fixed; 
	top: 0;
	border-bottom: 1px solid seashell;
	background-color: black;
}

.nav_left { 
	width: 75%;
	height: 50px; 
	display: flex; 
	flex-flow: row nowrap; 
	justify-content: flex-start; 
	align-items: center; 
	padding-left: 10px; 
}

.nav_right { 
	height: auto;
	width: inherit;
	display: flex; 
	flex-flow: row wrap; 
	align-items: center;
	justify-content: flex-end;
	align-content: space-between;
	padding-left: 10px;
}

.nav li{
	width: inherit; 
	height: inherit;  
	list-style-type: none; 
	text-decoration: underline; 
	font-size: 1rem; 
	float: right;
	margin-left: 15px;
}

/** Header **/ 

.main_container {
	display: flex;
	flex-flow: column wrap; 
	align-items: center; 
	width: 1200px; 
}

/** Mission **/

.mission_img {
	width: inherit;
	height: 700px;
	background-image: url("../Resources/Images/img-mission-background.jpg"); 
	background-position: center; 
	display: flex; 
	flex-flow: row nowrap; 
	justify-content: center;
	align-items: center;  
}

.mission {
	background-color: black; 
	text-align: center;
	font-family: Helvetica;  
	width: 1200px; 
}

h2, h4, p {
	color: seashell;
}

/** Tea of the Month **/

.tea_month {
	width: 1000px; 
	display: flex; 
	flex-flow: row wrap; 
	justif-content: center; 
	text-align: center; 
}
.tea_month p {
	text-align: center; 
	color: inherit;
	margin: 10px 0px; 
	
}
.tea_text {
	text-align: center;
	width: inherit;
}

/** Images: Tea of the Month **/ 

.tea_boxes {
	display: flex; 
	flex-flow: row wrap; 
	justify-content: space-around; 
	margin-bottom: 40px;
}
.blitz_tea {
	background-image: url("../Resources/Images/img-berryblitz.jpg");
	background-size: cover; 
	width: 300px;
	height: 200px; 
	display: flex; 
	flex-flow: column nowrap; 
	align-items: center;
}

p{
	color: seashell;
	margin-top: 10px;
}
.rum_tea {
	background-image: url("../Resources/Images/img-spiced-rum.jpg");
	background-size: cover; 
	width: 300px;
	height: 200px; 
}
.donuts {
	background-image: url("../Resources/Images/img-donut.jpg");
	background-size: cover; 
	width: 300px;
	height: 200px; 
}
.myrtle_tea {
	background-image: url("../Resources/Images/img-myrtle-ave.jpg");
	background-size: cover; 
	width: 300px;
	height: 200px; 
}
.bedford_tea {
	background-image: url("../Resources/Images/img-bedford-bizarre.jpg"); 
	background-size: cover; 
	width: 300px;
	height: 200px; 
}

/** Location **/

.location_img {
	width: 100%;
	height: 500px;
	background-image: url("../Resources/Images/img-locations-background.jpg"); 
	background-size: cover;
	display: flex; 
	flex-flow: row wrap; 
	justify-content: center;
	align-items: center;  
}
.location_img h1 { 
	width: 100%;
	text-align: center; 
}

.location_boxes {
	display: flex; 
	flex-flow: row wrap; 
	justify-content: center; 
}
.boxes{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	margin-top: 15px;
}


.black_boxes {
	width: 300px; 
	height: auto;
	background-color: black; 
	margin: 0px 20px;
}

.black_boxes h3 {
	text-align: center; 
	line-height: 40px; 
	font-size: .75rem; 
}

/** Footer **/

.contact {
	text-align: center; 
	height: 200px; 
	width: 100%;
}
.footer{ 
width: 100%; 
height: auto; 
}
.footer p {
	padding-left: 20px;
	text-align: left;
}